.content-container {
  border: 1px dashed black;
  background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

#canvas {
  border: 5px solid black;
  position: absolute;
}
